PORT=4000
MONGODB_URI=mongodb://localhost:27017/peerping
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=30d
OTP_EXPIRATION_MINUTES=5
FCM_PROJECT_ID=your-fcm-project-id
FCM_CLIENT_EMAIL=your-fcm-client-email
FCM_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
